<section class="about-us-container">
  <div class="about-us-content">
    <div class="about-us-info">
      <div class="logo-and-title">
        <div class="logo-wrapper">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/18942da53c89e4724cdb0b668f6e572b127ce0f2b8906c647f8810ebfbb8ffb9?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="Company logo" class="logo-image" />
        </div>
        <div class="title-wrapper">
          <h1 class="about-us-title">About us</h1>
        </div>
      </div>
    </div>
    <div class="about-us-image-wrapper">
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/c083b615c1aed635257dcc9391473ad0bde512243a87968e7509fab8c8916f74?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="About us illustration" class="about-us-image" />
    </div>
  </div>
</section>
