.product-catalog {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 58px 80px;
}

.catalog-title {
  color: #0d554a;
  font: 600 40px/1.4 Cormorant, -apple-system, Roboto, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 44px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}
.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(23, 26, 31, 0.12);
  overflow: hidden;
}
.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.product-info {
  padding: 12px;
}
.product-name {
  font: 700 18px 'Cormorant Garamond', serif;
  margin: 0 0 4px;
}
.product-price {
  font: 500 14px/2 Manrope, sans-serif;
  margin: 0 0 4px;
}
.product-rating {
  display: flex;
  gap: 3%;
  justify-content: space-between;
  align-items: center;
}

.add-to-cart {
  background: #0d554a;
  color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart:hover {
  background: #ffffff;
  color: #0d554a;
  border: 1px solid #0d554a;
}

.material-icons-outlined {
  font-size: medium;
  margin: 8px auto 0;
}

.shop-now-btn {
  border-radius: 26px;
  border: 1px solid #0d554a;
  color: #0d554a;
  background-color: transparent;
  padding: 12px 59px;
  font: 400 18px/2 Manrope, sans-serif;
  margin-top: 43px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.shop-now-btn:hover {
  background-color: #0d554a;
  color: #fff;
}

@media (max-width: 991px) {
  .product-catalog {
    padding: 40px 20px;
  }


  .shop-now-btn {
    margin-top: 40px;
    padding: 12px 40px;
  }
}

