.main-content {
  display: flex;
  justify-content: space-between;
  padding: 44px 80px;
  gap: 30px;
}

@media (max-width: 991px) {
  .main-content {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .main-content {
    flex-direction: column;
  }
}
