.gratitude-section {
  background-color: rgba(9, 57, 49, 1);

}

@media (max-width: 991px) {
  .gratitude-section {
    padding-right: 20px;
  }
}

.gratitude-container {
  margin-left: 40px;
  padding: 60px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.decorative-image {
  width: 10%;
  aspect-ratio: 0.87;
  object-fit: contain;
  position: absolute;
}

@media (max-width: 991px) {
  .gratitude-container{
    padding: 0;
    flex-direction: column;
  }

  .decorative-image {
    width: 10%;
  }
}

@media (max-width: 640px) {
  .gratitude-container{
    margin-left: 20px;
    padding-top: 100px;
  }

  .decorative-image {
    width: 20%;
  }
}

.gratitude-content {
  color: #fff;
  width: 30%;
  margin: auto 0;
}

.gratitude-title {
  font: 600 48px/1 Cormorant, sans-serif;
  transform: rotate(2.4492937051703357e-16rad);
}

@media (max-width: 991px) {
  .gratitude-content {
    width: 50%;
  }

  .gratitude-title {
    font-size: 40px;
  }
}

@media (max-width: 640px) {
  .gratitude-content {
    width: 80%;
  }
}

.gratitude-message {
  margin-top: 12px;
  font: 400 16px/26px Manrope, -apple-system, Roboto, Helvetica, sans-serif;
  transform: rotate(2.4492937051703357e-16rad);
}

.artisan-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.decorative-border, .decorative-border- {
  width: 500px;
  max-width:100%;
  aspect-ratio: 6.94;
  object-fit: contain;
}

@media (max-width: 991px) {
  .decorative-border {
    display: none;
  }

  .decorative-border- {
    width: 100%;
  }
}

.artisan-card {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  background-color: rgba(23, 26, 31, 0.3);
  padding-right: 40px;
  overflow: hidden;
  width: 100%
}

@media (max-width: 991px) {
  .artisan-card {
    max-width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
  }
}

.artisan-image-container {
  width: 40%;
}

@media (max-width: 991px) {
  .artisan-image-container {
    width: 100%;
  }
}

.artisan-image {
  width: 100%;
  aspect-ratio: 0.8;
  object-fit: contain;
  border-radius: 8px;
}

@media (max-width: 991px) {
  .artisan-image {
    margin-top: 26px;
  }
}

.artisan-info {
  width: 70%;
  color: rgba(242, 198, 109, 1);
  font: 400 24px/48px Cormorant, -apple-system, Roboto, Helvetica, sans-serif;
  margin: auto 0;
}

@media (max-width: 991px) {
  .artisan-info {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .artisan-info {
    font-size: 18px;
  }
}

.info-item {
  display: flex;
  gap: 17px;
  align-items: start;
}

.info-icon {
  width: 6%;
  margin-top: 5px;
  aspect-ratio: 1;
  object-fit: contain;
}
