<div class="chart-container">
  <div class="chart-header">
    <h3 class="chart-title">Statistics</h3>
    <div class="dropdown">
      <span>2022</span>
      <img src="http://b.io/ext_26-" alt="Dropdown icon" class="dropdown-icon">
    </div>
  </div>
  <div class="chart-legend">
    <div class="legend-item">
      <div class="legend-color service"></div>
      <span>Service</span>
    </div>
    <div class="legend-item">
      <div class="legend-color sale"></div>
      <span>Sale</span>
    </div>
  </div>
  <canvas id="myChart"></canvas>
</div>
