<app-header></app-header>
<div class="error-page">
  <main class="error-content">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/9b9220b101709652b31a0a5e4e01e805de18adda28bef7dcbb343c7f32857354?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="404 Error Illustration" class="error-image" />
    <h2 class="error-title">Oops!</h2>
    <p class="error-message">We can't seem to find the page you are looking for</p>
    <a href="/" class="back-button">Back to Homepage</a>
  </main>
  <section class="social-section">
    <h3 class="social-title">Follow us on</h3>
    <div class="social-icons">
      <button *ngFor="let icon of socialIcons" [attr.aria-label]="icon.ariaLabel" class="social-icon-button"></button>
    </div>
  </section>
</div>
<app-footer></app-footer>
