.features {
  display: flex;
  justify-content: space-between;
  padding: 36px 70px;
  background-color: #fff;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 300px;
}

.feature-icon {
  width: 62px;
  height: 62px;
}

h3 {
  color: #171a1f;
  font: 600 18px/2 'Cormorant Garamond', serif;
  margin: 18px 0;
}

p {
  color: #9095a0;
  font: 400 16px/26px Manrope, sans-serif;
}

@media (max-width: 991px) {
  .features {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .feature {
    margin-bottom: 30px;
  }
}
