<section class="features">
  <div class="feature">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/81cc6c204d8ab41b344150320825540f97f971a2916ba83f2c4f4ba667e6e762?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="feature-icon" />
    <h3>Delivery</h3>
    <p>Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d</p>
  </div>
  <div class="feature">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/97cb97acb4b9a45f7fff23e6f410b37add908254d4ae240b6da6b5e88b542fc7?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="feature-icon" />
    <h3>Customer care</h3>
    <p>Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d</p>
  </div>
  <div class="feature">
    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/86ede972653067dd3c56d0bd38fa27a2683bd555b4f40dfab22f83b1245fc0fc?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="feature-icon" />
    <h3>Payment security</h3>
    <p>Ea esse elit anim commodo laborum pariatur nisi. Voluptate elit d</p>
  </div>
</section>
