.data-cards {
  font-family: Manrope, sans-serif;
  color: rgba(50, 55, 67, 1);
}

.card-container {
  display: flex;
  gap: 20px;
}

.data-card {
  flex: 1;
  border-radius: 40px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12);
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.yellow-bg { background-color: rgba(254, 249, 238, 1); }
.red-bg { background-color: rgba(253, 243, 241, 1); }
.blue-bg { background-color: rgba(242, 251, 252, 1); }
.green-bg { background-color: rgb(233, 250, 247); }

.card-label {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  margin: 0;
}

.card-value {
  font: 600 32px Cormorant, sans-serif;
  margin: 8px 0;
}

.trend-indicator {
  display: flex;
  gap: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 2;
}

.positive { color: rgba(20, 146, 62, 1); }
.negative { color: rgba(222, 59, 64, 1); }

.trend-icon {
  width: 12px;
  height: 12px;
  object-fit: contain;
  align-self: center;
}

@media (max-width: 991px) {
  .card-container {
    flex-direction: column;
  }

  .data-card {
    padding-right: 20px;
  }
}
