<section class="product-search">
  <div class="product-search__content">
    <header class="product-search__header">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e3a9d666730577021e3c7075fc65ed10e13cbc083f603f419276e58f24fa309d?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="product-search__image product-search__image--left">
    </header>
    <main class="product-search__main">
      <h1 class="product-search__title">Collections</h1>
      <p>Ut dolor cillum id non quis ut sunt sit. Labore enim ipsum qui cupidatat officia occaecat magna ad.Nostrud mollit sunt </p>
    </main>
    <footer class="product-search__footer">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/aaad106249f7b34a95d44297ce9c7fc7e421b58a820903136bc32e760358a2ca?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="product-search__image product-search__image--right">
    </footer>
  </div>
</section>
