<form class="register-form d-flex flex-column gap-4"  [formGroup]="customerRegisterForm" (ngSubmit)="register()">
  <div class="form-group mb-1">
    <p-floatLabel>
      <input pInputText formControlName="fullName" id="fullName" variant="filled" class="form-input" required/>
      <label for="fullName">Full Name</label>
    </p-floatLabel>
  </div>
  <div class="form-group mb-1">
    <p-floatLabel>
      <input pInputText formControlName="userName" id="userName" variant="filled" class="form-input" required/>
      <label for="userName">Username</label>
    </p-floatLabel>
  </div>
  <div class="form-group mb-1">
    <p-floatLabel>
      <input pInputText formControlName="email" type="email" id="email" variant="filled" class="form-input" required/>
      <label for="email">Email</label>
    </p-floatLabel>
  </div>
  <div class="form-group mb-1">
    <p-floatLabel>
      <input pInputText formControlName="phone" type="number" id="phone" variant="filled" class="form-input" required/>
      <label for="phone">Phone</label>
    </p-floatLabel>
  </div>
  <div class="form-group mb-1">
    <p-floatLabel>
      <p-password formControlName="password" type="password" id="password" variant="filled" class="p-fluid" [toggleMask]="true" required/>
      <label for="password">Password</label>
    </p-floatLabel>
  </div>
  <div class="text-center  d-flex flex-column gap-1">
    <button type="submit" class="register-button" [disabled]="customerRegisterForm.invalid">Sign up</button>
    <small class="text-center mt-0 text-secondary mt-2">Already have an account? <span routerLink="/auth/login" class="ms-2 text-dark">Login</span></small>
  </div>
</form>
