.sidebar {
  position: fixed;
  width: 15%;
  background-color: #093830;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12);
  display: flex;
  flex-direction: column;
  padding: 18px 16px;
  color: #fff;
  height: 100vh;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 23px;
}

.logo-image {
  width: 57px;
  aspect-ratio: 0.97;
  object-fit: contain;
}

.company-name {
  color: #f5d38e;
  font: 30px/2 Cormorant, sans-serif;
  margin: 0;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin-bottom: 12px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font: 14px/2 Manrope, sans-serif;
}

.menu-item.active {
  background-color: #effdfA;
  color: #0d554a;
  font-weight: 700;
}

.menu-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.sidebar-image {
  width: 172px;
  max-width: 100%;
  aspect-ratio: 0.84;
  object-fit: contain;
  margin-top: auto;
}
