<aside class="sidebar">
  <div class="container">
    <div class="logo-container">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/fcd80546f53404303017a2802c467b7da97cfdd9c6a5bc2e77cf74c64e91b9ad?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="Company Logo" class="logo-image">
      <h1 class="company-name">Darling.</h1>
    </div>
    <nav class="sidebar-menu">
      <a routerLink="overview" routerLinkActive="active" (click)="onMenuClick('Dashboard')" matTooltip="Dashboard" class="menu-item">
        <mat-icon class="material-icons-outlined">dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a routerLink="products" routerLinkActive="active" (click)="onMenuClick('Products')" matTooltip="Products" class="menu-item">
        <mat-icon class="material-icons-outlined">category</mat-icon>
        <span>Products</span>
      </a>
      <a routerLink="orders" routerLinkActive="active" (click)="onMenuClick('Orders')" matTooltip="Orders" class="menu-item">
        <mat-icon class="material-icons-outlined">inventory_2</mat-icon>
        <span>Orders</span>
      </a>
      <a *ngIf="isAdmin()" routerLink="users" routerLinkActive="active" (click)="onMenuClick('Users')" matTooltip="Users" class="menu-item">
        <mat-icon class="material-icons-outlined">people</mat-icon>
        <span>Users</span>
      </a>
      <a routerLink="profile" routerLinkActive="active" (click)="onMenuClick('Profile')" matTooltip="Profile" class="menu-item">
        <mat-icon class="material-icons-outlined">person</mat-icon>
        <span>Profile</span>
      </a>
    </nav>
  </div>
  <button (click)="onLogout()" class="btn btn-logout">
    <mat-icon class="material-icons-outlined">logout</mat-icon>
  </button>
  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8decfba69f8eb0c7cd29917499f60a4a9cece6ccb296aab42b72c2419d5f651c?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="Decorative Image" class="sidebar-image">
</aside>
