.sidebar {
  position: fixed;
  width: 15%;
  background-color: #093830;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12);
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100vh;
}

.container {
  padding: 18px 16px;
}

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 23px;
}

.logo-image {
  width: 57px;
  aspect-ratio: 0.97;
  object-fit: contain;
}

.company-name {
  color: #f5d38e;
  font: 30px/2 Cormorant, sans-serif;
  margin: 0;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-item {
  display: flex;
  gap: 1rem;
  padding: 8px 16px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font: 14px/2 Manrope, sans-serif;
}

.menu-item.active {
  background-color: #effdfA;
  color: #0d554a;
  font-weight: 700;
}

.sidebar-image {
  width: 60%;
  aspect-ratio: 0.84;
  object-fit: contain;
  margin-top: auto;
}

.btn {
  display: none;
  gap: 1rem;
  padding: 12px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font: 14px/2 Manrope, sans-serif;
  cursor: pointer;
  margin: auto 16px 20px;
}

.btn-logout {
  background-color: #de3b40;
  border: #de3b40;
  color: #fff;
}

@media (max-width: 768px) {
  .sidebar {
    width: 80px;
  }

  .company-name,
  .sidebar-image,
  .menu-item span {
    display: none;
  }

  .logo-image {
    width: 40px;
  }

  .menu-item {
    justify-content: center;
    padding: 12px 0;
  }

  .material-icons-outlined {
    font-size: 24px;
  }

  .btn {
    display: flex;
  }
}
