<header class="header">
  <h2 class="page-title">{{ pageTitle }}</h2>
  <div class="header-actions">
    <button *ngIf="isArtisan()" (click)="onCreateNewProduct()" class="btn btn-add">
      <mat-icon class="material-icons-outlined">add</mat-icon>
      Create new product
    </button>
    <button *ngIf="!isArtisan()" (click)="navigateTo('artisan')" class="btn btn-add">
      Artisan
    </button>
    <button *ngIf="!isArtisan()" (click)="navigateTo('customer')" class="btn btn-logout">
      Customer
    </button>
    <button (click)="onLogout()" class="btn btn-logout">
      <mat-icon class="material-icons-outlined">logout</mat-icon>
      Logout
    </button>
  </div>
</header>
