<header class="header">
  <h2 class="page-title">Dashboard</h2>
  <div class="header-actions">
    <button (click)="onCreateNewProduct()" class="btn btn-secondary">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/2797b19a903ef9b9a28ae6160a185cc729de4cb824e7fed8f4a7401bcfda9874?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="btn-icon">
      Create new product
    </button>
    <button (click)="onLogout()" class="btn btn-warning">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/90ada9a28261e9370c4ec97d69fd741f01d911248847148d80b66b2b86b37f18?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="btn-icon">
      Logout
    </button>
  </div>
</header>
