<main class="login-page">
  <section class="login-form-section col-lg-5 col-md-12 col-sm-12">
    <h3 class="welcome-heading">Welcome Back</h3>
    <form class="login-form d-flex flex-column gap-4"  [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="form-group mb-1">
        <p-floatLabel>
          <input pInputText formControlName="userNameOrEmail" id="userNameOrEmail" variant="filled" class="form-input" required/>
          <label for="userNameOrEmail">Username Or Email</label>
        </p-floatLabel>
      </div>
      <div class="form-group mb-1">
        <p-floatLabel>
          <p-password
            formControlName="password"
            type="password"
            id="password"
            variant="filled"
            class="p-fluid"
            [toggleMask]="true"
            [feedback]="false"
            required>
          </p-password>
          <label for="password">Password</label>
        </p-floatLabel>
      </div>
      <div class="text-center d-flex flex-column gap-1">
        <button type="submit" class="login-button" [disabled]="loginForm.invalid">Log in</button>
        <small class="text-center mt-0 text-secondary">Don't have an account?<span routerLink="/auth/register" class="ms-2 text-dark pe-auto">Register</span></small>

      </div>
      </form>
  </section>
  <aside class="login-banner col-lg-5 col-md-12 col-sm-12">
    <div class="banner-header" routerLink="/">
      <img
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/337f8921fa27fdc2cde2223b6d2d4e1a422080ea20bd62b9de0f67133b0571d3?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201"
        alt="Darling logo"
        class="banner-logo"
      />
      <h2 class="banner-title mt-3">Darling.</h2>
    </div>
    <p class="banner-text">Log in</p>
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/1399fa4dba2845c2cff984f048e4c6f4065dc8cc7ee81186374dba2c4133d7f9?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201"
      alt=""
      class="banner-image"
      aria-hidden="true"
    />
  </aside>
</main>
