<section class="dashboard-stats">
  <div *ngFor="let stat of stats" class="stat-card">
    <h3 class="stat-title">{{stat.label}}</h3>
    <p class="stat-value">{{stat.value}}</p>
    <div [class.positive]="stat.positive" [class.negative]="!stat.positive" class="stat-change">
      <img [src]="stat.positive ? 'https://cdn.builder.io/api/v1/image/assets/TEMP/e965aa3d5705b488c07e996d7b229dd57040e6ada4f58ed691a66ab0b8ad64f2?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4' : 'https://cdn.builder.io/api/v1/image/assets/TEMP/cfc0c7047139f6c8a5f3042eee804ab037153cf6320e4ebae8e8c41056c13c00?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4'" alt="" class="change-icon">
      <span>{{stat.change}}%</span>
    </div>
  </div>
</section>
