<app-header></app-header>
<main class="edit-profile">
  <section class="profile-container mb-5">
    <h2 class="section-title">Edit profile</h2>
    <form [formGroup]="profileForm" class="profile-form">
      <div class="profile-content mb-3">
        <div class="profile-photo-section">
          <h3 class="subsection-title">Profile Photo</h3>
          <div class="avatar-container">
            <img
              [src]="previewUrl || 'https://icons.veryicon.com/png/o/system/crm-android-app-icon/app-icon-person.png'"
              [alt]="userDetails?.fullName || 'Customer'"
              class="avatar-image"
            />
          </div>
        </div>
        <div class="photo-update-section">
          <h3 class="subsection-title">Update your Photo</h3>
          <p class="photo-instructions">Your Photo should be in PNG or JPG format</p>
          <div class="photo-actions">
            <button (click)="triggerFileInput()" class="btn btn-outline">Choose Image</button>
            <input type="file" #fileInput (change)="onChooseImage($event)" accept="image/png, image/jpeg" style="display: none;" />
            <button (click)="onRemoveImage()" class="btn btn-text">Remove</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <p-floatLabel>
          <input pInputText formControlName="fullName" id="fullName" variant="filled" class="form-input" required/>
          <label for="fullName">Full Name</label>
        </p-floatLabel>
      </div>
      <div class="form-group">
        <p-floatLabel>
          <input pInputText formControlName="username" id="userName" variant="filled" class="form-input" required/>
          <label for="userName">Username</label>
        </p-floatLabel>
      </div>
      <div class="form-group">
        <p-floatLabel>
          <input pInputText type="email" formControlName="email" id="email" variant="filled" class="form-input" required/>
          <label for="email">Email</label>
        </p-floatLabel>
      </div>
      <div class="form-group">
        <p-floatLabel>
          <input pInputText type="number" formControlName="phone" id="phone" variant="filled" class="form-input" required/>
          <label for="phone">Phone</label>
        </p-floatLabel>
      </div>
      <p-divider class="mt-3 mb-2"/>
      <div class="form-actions">
        <button (click)="onCancel()" class="btn btn-text">Cancel</button>
        <button (click)="onSaveProfile()" class="btn btn-primary">Save profile</button>
      </div>
    </form>
  </section>
</main>
<app-footer></app-footer>
