<section class="order-summary">
  <h2 class="summary-title">Order summary</h2>
  <ul class="item-list">
    <li *ngFor="let item of cart?.cartItems" class="item">
      <img [src]="item.product.media[0].mediaUrl" [alt]="item.product.name" class="item-image" />
      <div class="item-details">
        <h3 class="item-name">{{ item.product.name }}</h3>
        <p class="item-code">Code: {{ item.product.id }}</p>
      </div>
      <p class="item-price">{{ item.product.price | currency }}</p>
      <p class="item-price">x {{ item.quantity}}</p>
    </li>
  </ul>
</section>
