.order-summary {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12);
  padding: 24px;
  width: 100%;
}

.summary-title {
  color: #171a1f;
  font: 700 24px Cormorant, sans-serif;
  margin-bottom: 20px;
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

.item-image {
  width: 143px;
  height: 139px;
  object-fit: contain;
}

.item-details {
  flex-grow: 1;
  padding: 0 16px;
}

.item-name {
  color: #171a1f;
  font: 700 14px/2 Manrope, sans-serif;
  margin: 0;
}

.item-code {
  color: #565d6d;
  font: 400 12px/2 Manrope, sans-serif;
  margin: 0;
}

.item-price {
  color: #171a1f;
  font: 700 14px/2 Manrope, sans-serif;
  text-align: center;
  width: 100px;
}

.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

@media (max-width: 991px) {
  .order-summary {
    margin-top: 40px;
  }
}
