<section class="user-info">
  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/0994a836d31bc21d539639028d69e53819211c8b2f5da438a61b726a3bf9aad0?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="User profile background" class="background-image" />
  <div class="info-content">
    <h1 class="user-name">Ryan Morris</h1>
    <p class="user-handle">jaimejimenez</p>
    <hr class="divider" />
    <div class="contact-info">
      <div class="info-item">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/6dff934776fc9942e5a9adbc84084bcc29ab0b7aa3deff62b7a42ad8a50df60b?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="icon" />
        <span>jharrisyahoo.com</span>
      </div>
      <div class="info-item">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/71ec75aabd1a8a68bad71184211eeeb47ed36d3680ce02d0d90c4b29da235240?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="icon" />
        <span>(856) 578-4598</span>
      </div>
      <div class="info-item">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e0b6f0b9c407e5256adfd1301c25024ae833da403c75e15d721a4e10ed20440f?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="icon" />
        <span>639 South Street, Apt. 7A</span>
      </div>
    </div>
    <hr class="divider" />
    <button class="edit-profile" routerLink="/edit-profile">Edit Profile</button>
  </div>
</section>
