<section class="user-info">
  <img
    [src]="userDetails?.userPhoto?.mediaUrl || 'https://icons.veryicon.com/png/o/system/crm-android-app-icon/app-icon-person.png'"
    [alt]="userDetails?.fullName || 'Artisan'"
    class="background-image"
  />
  <div class="info-content d-flex flex-column w-auto">
    <h1 class="user-name">{{ userDetails?.fullName }} </h1>
    <p class="user-handle">{{ userDetails?.username }}</p>
    <p-divider/>
    <div class="contact-info">
      <div class="info-item">
        <mat-icon class="material-icons-outlined">email</mat-icon>
        <span>{{ userDetails?.email}}</span>
      </div>
      <div class="info-item">
        <mat-icon class="material-icons-outlined">phone</mat-icon>
        <span>{{ userDetails?.phone}}</span>
      </div>
      <div class="info-item">
        <mat-icon class="material-icons-outlined mt-0">place</mat-icon>
        <span>639 South Street, Apt. 7A</span>
      </div>
    </div>
    <p-divider/>
    <button class="edit-profile" routerLink="/edit-profile">Edit Profile</button>
  </div>
</section>
