<main class="product-container">
  <h1 class="product-title">Add Product</h1>
  <form [formGroup]="productForm" class="w-100">
    <div class="product-form-layout">
      <section class="product-details">

        <div class="form-group">
          <p-floatLabel>
            <input pInputText formControlName="name" id="name" variant="filled" class="form-input" type="text" required/>
            <label for="name">Name</label>
          </p-floatLabel>
        </div>

        <div class="form-group">
          <p-floatLabel>
            <input pInputText formControlName="price" id="price" variant="filled" class="form-input" type="text" required/>
            <label for="price">Price</label>
          </p-floatLabel>
        </div>

        <div class="form-group">
          <p-floatLabel>
            <input pInputText formControlName="stock" id="stock" variant="filled" class="form-input" type="number" required/>
            <label for="stock">Stock</label>
          </p-floatLabel>
        </div>

        <div class="form-group">
          <p-floatLabel>
            <select id="collection" class="select-field" formControlName="collection" required>
              <option value="" disabled selected>Select Collection</option>
              <option *ngFor="let collection of collections" [value]="collection">{{collection}}</option>
            </select>
          </p-floatLabel>
        </div>

        <div class="form-group">
          <p-floatLabel>
            <select id="category" class="select-field" formControlName="category" required>
              <option value="" disabled selected>Select Category</option>
              <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
          </p-floatLabel>
        </div>

        <div class="form-group">
          <p-floatLabel>
            <textarea pInputText formControlName="description" id="description" variant="filled" class="form-input" rows="4" required></textarea>
            <label for="description">Description</label>
          </p-floatLabel>
        </div>
      </section>
      <section class="product-images">
<!--        <div class="image-preview">-->
<!--          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/690a04e51bc07d7e2f19b3ccef729dadccadd58b804a782b0a498a7952402342?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="Product image preview 1" class="preview-image">-->
<!--          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5217222fa20e9398054e70a811e328112e46854407cfc824086ac47234f0e644?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="Product image preview 2" class="preview-image">-->
<!--          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ad158f92ac46befd109419ace73af64b2db6a50f8ee1c1c713243604c9c77d5f?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="Product image preview 3" class="preview-image">-->
<!--        </div>-->
<!--        <div class="upload-area" (click)="fileInput.click()" (dragover)="$event.preventDefault()" (drop)="onFileSelected($event)">-->
<!--          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/4e6b40eeab54b089ebc0138ff27e2a8a203d4eaa541d86b0d10b7e1ceadbb7a0?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="upload-icon">-->
<!--          <p class="upload-text">Drag and drop files here to upload</p>-->
<!--          <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;">-->
<!--        </div>-->

         <app-upload/>
      </section>
    </div>
  </form>
  <button class="save-button" (click)="onSave()">Save</button>
</main>
