.register-page {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(18, 15, 40, 0.12);
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 1% 10%;
}

.register-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-heading {
  color: #0d554a;
  font: 700 35px/1 "Cormorant Garamond", serif;
  text-align: center;
  margin-bottom: 45px;
}

.register-form {
  width: 100%;
}

.form-input {
  border: 1px solid #0d554a;
  border-radius: 8px;
  color: #424955;
  font: 700 14px/2 "Manrope", sans-serif;
  padding: 8px 10px;
  width: 100%;
}

.form-input:focus {
  border-color: #0d554a;
  outline: none;
  box-shadow: 0 0 8px rgba(13, 85, 74, 0.5);
}

.password-hint {
  color: #bcc1ca;
  font-weight: 400;
  margin-top: 5px;
}

.password-toggle {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.register-button {
  background-color: #093830;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font: 400 14px/2 "Manrope", sans-serif;
  padding: 14px;
  width: 100%;
}

.artisan-button, .customer-button {
  background-color: #f5d38e;
  border: none;
  border-radius: 8px;
  color: #093830;
  cursor: pointer;
  font: 400 14px/2 "Manrope", sans-serif;
  padding: 8px;
  width: 90px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  gap: 16px; /* Optional: space between buttons */
}


.register-banner {
  background-color: #093931;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(23, 26, 31, 0.12);
  color: #f5d38e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Cormorant Garamond", serif;
}

.banner-header {
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 35px;
  margin: 24px 32px;
  cursor: pointer;
}

.banner-logo {
  width: 57px;
  height: 57px;
}

.banner-title {
  font-size: 20px;
  font-family: Cormorant, var(--default-font-family);
}

.banner-text {
  font-size: 40px;
  line-height: 1;
  text-align: center;
}

.banner-image {
  align-self: flex-end;
  width: 30%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 991px) {
  .register-page {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .register-form-section{
    height: 80dvh;
  }

  .register-form-section,
  .register-banner {
    width: 100%;
  }

  .welcome-heading {
    font-size: 40px;
  }

  .banner-text {
    display: none;
  }

  .banner-image {
    display: none;
  }
}
::ng-deep .p-password .p-inputtext:enabled:focus {
  outline: 0 none !important;
  outline-offset: 0 !important;
  box-shadow: 0 0 8px 0.1rem rgba(13, 85, 74, 0.25) !important;
  border-color: #0d554a !important;
}

::ng-deep .p-password .p-inputtext:enabled:hover {
  border-color: #0d554a !important;
}

::ng-deep .p-password .p-inputtext {
  border-color: #0d554a !important;
}
