<header class="header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="logo">
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/aad704c19f96008876e1c8ca950d6de3eef08c4e2df1a7012ddfe3cc6f7f4855?placeholderIfAbsent=true&apiKey=636115f9631f48bf97a296bc25ce3201" alt="Darling Jewelry Logo" class="logo-image">
        <a class="logo-text" href="#">Darling.</a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="av-list navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Collections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="material-icons">person</i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="material-icons">shopping_cart</i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
