.header {
  background-color: #093931;
  padding: 2px 80px 2px 40px;
  color: #fff;
  align-items: center;
  width: 100vw;
}

.logo {
  display: flex;
  align-items: center;
  gap: 35px;
  color: #f5d38e;
  font: 30px/2 Cormorant, sans-serif;
}

.logo-image {
  width: 57px;
  height: auto;
}

.logo-text{
  text-decoration: none;
  color: #f5d38e;
}

.main-nav {
  display: flex;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font: 14px/2 Manrope, sans-serif;
}

.nav-link.active {
  color: #f2c66d;
  font-weight: 700;
  position: relative;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #ffb600;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.p-sidebar {
  width: 400px !important;
}

.p-sidebar-mask {
  background-color: rgba(0, 0, 0, 0.9) !important; /* Dark gray background */
}

/* Remove underline from anchor tags inside the tiered menu */
p-tieredMenu .ui-menuitem-link {
  text-decoration: none; /* Remove underline */
  padding-left: 2rem; /* Add padding to the left of the menu items */
  color: white; /* Ensure text is styled correctly (if needed) */
}

/* Additional styles to ensure clean look */
p-tieredMenu .ui-menuitem-link:hover {
  text-decoration: none; /* No underline on hover as well */
}

/* Ensure that the icon inside the button has the desired color and no borders */
.btn-sidebar {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-sidebar .material-icons {
  color: #fff; /* White color for the person icon */
  font-size: 24px;
  line-height: 24px;
}

.btn-sidebar:hover .material-icons {
  color: #ffb600; /* Change color to #ffb600 on hover */
}

/* Optional: Remove the default browser styling on anchor tags globally */
a {
  text-decoration: none !important; /* Ensure no underline for any anchor tag */
  color: inherit; /* Inherit color from parent styles */
}

/* Optional: Adjust menu item link padding further, if needed */
p-tieredMenu .ui-menuitem {
  padding-left: 2rem; /* Add more padding to the `li` elements if needed */
}


.header-icons {
  display: flex;
  gap: 23px;
}

.icon-search,
.icon-user,
.icon-cart {
  width: 20px;
  height: auto;
}

@media (max-width: 991px) {
  .header {
    padding: 0 20px;
  }

  .logo-image {
    width: 47px;
  }

  .logo-text {
    font-size: 26px;
    font-family: Cormorant, var(--default-font-family);
  }
}

@media (max-width: 640px) {
  .logo-image {
    width: 36px;
  }

  .logo-text {
    font-size: 15px;
  }
}


/* ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */

