<div class="d-flex flex-lg-row flex-md-column flex-sm-column gap-4">
  <div class="d-flex flex-column  gap-2 col-lg-8 col-md-12 col-sm-12">
    <section class="profile-details">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/0a38c7c3beddddd6ba7f0dc6ad7c3a38b3d20e0bd059dac9c9e4e096dfe9d46b?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="Profile cover" class="profile-cover" />
      <div class="profile-info">
        <div class="profile-header">
          <div class="profile-avatar">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/7bc8da98a0c0ba82d80edc2e91841b88378ae7f62c4140c1e2a11deb540db354?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="Ryan Morris" class="avatar-img" />
          </div>
          <div class="profile-name">
            <h3 class="name">Ryan Morris</h3>
            <p class="username">jaimejimenez</p>
          </div>
          <button class="edit-profile-btn" (click)="editProfile(1)">Edit Profile</button>
        </div>
        <p-divider />
        <dt>Description</dt>
        <p class="description">
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/17fc21bdfd8642b5710e57e4c493a43fc785c53492a74eabfc03c13c94394a15?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="description-icon" />
          Intricately designed rings, bracelets, and necklaces
        </p>
      </div>
    </section>
  </div>
  <aside class="profile-info sticky mt-0 col-lg-4 col-md-12 col-sm-12">
    <h3 class="section-title mb-2">Profile details</h3>
    <dl class="info-list">
      <div class="d-flex flex-column">
        <dt>Email</dt>
        <dd>
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/0474278ad08dc0f9701197dda86e88f80a1573ab724b5dfee957aec30cac7678?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="info-icon" />
          jharrisyahoo.com
        </dd>
      </div>
      <p-divider />
      <div class="info-item">
        <dt>Phone number</dt>
        <dd>
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/71ec75aabd1a8a68bad71184211eeeb47ed36d3680ce02d0d90c4b29da235240?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="info-icon" />
          (856) 578-4598
        </dd>
      </div>
      <p-divider />
      <div class="info-item">
        <dt>Location</dt>
        <dd>
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/e0b6f0b9c407e5256adfd1301c25024ae833da403c75e15d721a4e10ed20440f?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="info-icon" />
          639 South Street, Apt. 7A
        </dd>
      </div>
      <p-divider />
      <div class="info-item">
        <dt>Specialty</dt>
        <dd>
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/cc1bdfe52445f4e44cb56e2a11e920f65af1d4b771f6856e6cef61461e15ce15?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="info-icon" />
          639 South Street, Apt. 7A
        </dd>
      </div>
      <p-divider />
      <div class="info-item">
        <dt>Experience</dt>
        <dd>
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/5d76fa02d180c9ecc2f5cbb5f5563d2b96edf8ec8915536c12be477b59e7b9be?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="" class="info-icon" />
          639 South Street, Apt. 7A
        </dd>
      </div>
    </dl>
  </aside>
</div>
