<section class="product-grid">
  <header class="grid-header mt-3">
    <h2 class="product-result">Product Result</h2>

    <div class="sort-dropdown mb-3">
      <label for="sort-select" class="visually-hidden">Sort by</label>
      <select id="sort-select" (change)="onSortChange($event)">
        <option value="">Sort by price</option>
        <option value="low-to-high">Price: Low to High</option>
        <option value="high-to-low">Price: High to Low</option>
      </select>
    </div>
  </header>
  <div class="product-list">
    <article
      *ngFor="let product of products"
      class="product-card"
      (click)="navigateToProductDetails(product.id)"
    >
      <img [src]="product.media[0].mediaUrl" [alt]="product.name" class="product-image">
      <div class="product-info">
        <h3 class="product-name">{{ product.name }}</h3>
        <p class="product-price">${{ product.price.toFixed(2) }}</p>
        <div class="product-rating">
          <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
          <button
            class="add-to-cart"
            aria-label="Add to cart"
            (click)="$event.stopPropagation()"
          >
            <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </article>
  </div>

  <nav class="pagination" aria-label="Product page navigation">
    <button class="page-button" aria-label="Previous page">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/52ea09fa22b11850d8b556620998700f0f38455adcff0a67f4a9cb50fe76a32d?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="">
    </button>
    <button class="page-button active" aria-current="page">1</button>
    <button class="page-button">2</button>
    <button class="page-button">3</button>
    <button class="page-button" aria-label="Next page">
      <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8e2deb0806730208ade94813eec8976a2ba0d2fdf6426e4da1aa2b99cb6c6726?placeholderIfAbsent=true&apiKey=4bd7f7a51e424385abb4e97f8d321ab4" alt="">
    </button>
    <button class="page-button">10</button>
  </nav>
</section>
